body{
    background-color: black;
}

.kalkulator{
    scale: 0.7;
}
.display{
    background: linear-gradient(to top, #0d9674ce 40%, #07979768 100%);
    border: 3px solid greenyellow;
    text-align: right;
}

.display p{
    background-color: rgb(255, 246, 234);
    margin:3%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: normal;
    font-size: 5rem;
    color: black;
    border-radius: 10px;
}
.frame{
    background: linear-gradient(to top, #0d9674ce 40%, #07979768 100%);
    border: 3px solid greenyellow;
    padding: 2%;
}

.btnFrame{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}

button{
    margin: 1%;
    width: 12rem;
    height: 12rem;
    color: greenyellow;
    background-color: rgb(54, 54, 54);
}
